@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.mehdddoune {
  background-color: #f0f4f8; /* Light gray background */
  padding: 20px; /* Add some padding */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}